@import "../../responsive.scss";

.popular {
    padding: 20px;
    background-color: #fff;
    margin-top: 5rem;
    


    .title-container {
        display: flex;
        align-items: center;
        gap: 10px; 
        margin-bottom: 20px;
        

        .underline {
            width: 30px;
            height: 4px;
            background-color: #333;
        }
        
        
        
    }

    h2 {
        font-size: 28px;
        margin-bottom: 0; 
        color:#666;
        @include sm {
            font-size: 28px;
        }
    }

    .propertiesContainer {
        display: flex;
        justify-content: space-between;
        text-align: start;

        @include sm {
            flex-direction: column;
            gap: 30px;
        }
        @include md {
            flex-direction: column;
            gap: 30px;
        }

        .property-card {
            background: #f9f9f9;
            border-radius: 10px;
            overflow: hidden;
            width: 30%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            @include md {
                width: 100%;
            }
            @include sm {
                width: 100%;
            }

            .property-image-container {
                position: relative;

                .property-image {
                    width: 100%;
                    height: auto;
                }

                .property-status {
                    position: absolute;
                    top: 10px;
                    left: 0px;
                    background-color: #fece51;
                    color: #333;
                    padding: 5px 10px;
                    border-top-right-radius: 5px;
                    border-left: none;
                    font-size: 12px;
                    font-weight: bold;
                }
            }

            .property-details {
                padding: 15px;
                display: flex;
                flex-direction: column;

                .detail {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    .property-type {
                        font-size: 14px;
                        color: #888;
                    }
                    .icon {
                        font-size: 16px;
                        color: #888;
                    }
                }

                h2 {
                    font-size: 20px;
                    margin: 10px 0;
                    color: #333;
                }

                p {
                    font-size: 14px;
                    color: #666;
                    margin-bottom: 15px;
                }

                .property-info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 14px;
                    color: #333;

                    .property-price {
                        font-weight: bold;
                    }

                    .property-area,
                    .property-beds,
                    .property-baths {
                        display: flex;
                        align-items: center;

                        i {
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
    .bg_parallax_scroll {
        background: url("https://wordpress.themeholy.com/realar/wp-content/uploads/2024/05/project_pop1_1.png") no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 700px;
        display: flex;
        margin-top: 5rem;
        align-items: center;
        justify-content: center;
    
        .details {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 20px;
          text-align: center;
    
          .sm {
            color: white;
            font-weight: 500;
          }
    
          h1 {
            font-size: 65px;
            letter-spacing: 15px;
            color: white;
          }
    
          .bg {
            color: white;
            font-size: 20px;
            font-weight: 700;
          }
    
          button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: black;
            color: white;
            border: none;
            cursor: pointer;
    
            &:hover {
              background-color: #333;
            }
          }
        }
      }
}
