@import "../../responsive.scss";
.searchBar{
    @include sm{
        margin-bottom: 10rem;
    }
    .type{
      
        button{
            padding: 16px 36px;
            border: 1px solid #9999;
            cursor: pointer;
            background-color: #ffff;
            border-bottom: 0;

            &.active{
                background-color: black;
                color:white;
            }
            &:first-child{
                border-top-left-radius: 5px;
                border-right: none;


            }
            &:last-child{
                border-top-right-radius: 5px;
                border-left: none;
            }
        }
    }

    form{
        display: flex;
        justify-content: space-between;
        border:1px solid #9999;
        height: 64px;

      @include sm{
        flex-direction: column;
        border:none;
        gap:5px;
      }


        input{
            border: none;
            font-size: 16px;
            font-weight: 500;
            width: 200px;
            padding: 0px 10px;
            height: 60px;

            @include lg{
                padding: 0px 5px;
                &:nth-child(2),&:nth-child(3){
                    width: 140px;
                }


            }
            @include md{
                width: auto;
                &:nth-child(2),
                &:nth-child(3){
                    width: auto;
                }


            }
            @include sm{
                padding: 20px;
                border: 1px solid #9999;
                            
            }
        }
        button{
            background-color: #fece51;;
           flex: 1;
           padding: 20px 40px;
            border: none;
            cursor: pointer;
            width: 150px;
            height: 61px;

            @include md{
                padding: 10px 20px;
                width: 100px;

            }
            @include sm{
                padding: 10px;
                width: 100%;
            }
        }
    }
}